<head>
  <style>
      .link {
          padding-right: 12px;
          display: inline-block;
      }
  </style>
</head>

<div class="index">
  <div class="page">
    <h1>Upcoming Events</h1>
  </div>
  <br/>
  <p> <b>Sort By: </b> <%= colsort "name", "Name"%> |
    <%= colsort "date", "Date"%>  |
    <%= colsort "location", "Location"%>
  </p>
  <br/>

  <% @events.each_with_index do |event, index| %>

    <div class="card">
      <h5 class="card-header"> <%= event.name %> </h5>
      <div class="card-body">
        <%= render(:partial => 'event_card_view', locals: { event: event }) %>
        <% if current_user.admin? %>
          <%= link_to('Details ', event_path(event.id), :class => 'link') %>
          <%= link_to('Edit ', edit_event_path(event.id), :class => 'link') %>
          <%= link_to('Delete ', delete_event_path(event.id), :class => 'link') %>
        <% else %>
          <%= link_to('Details ', event_path(event.id), :class => 'link') %>
          <% if @user_events.where(:event_id => event.id, :user_id => current_user.id).blank? %>
            <%= link_to('Register', new_user_event_path(event.id), :class => 'link') %>
          <% else %>
            <%= link_to('Cancel Registration', delete_user_event_path(event.id), :class => 'link') %>
          <% end %>
        <% end %>
      </div>
    </div>

    <br/>

  <% end %>

  <% if @events.empty? %>
    <div class="alert alert-info" role="alert">
      There are currently no events.
    </div>
  <% end %>
    <% if current_user.admin? %>
      <div>
        <%= link_to('Create Event', new_event_path) %>
      </div>
    <% end %>
  <br/>

  <div>
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <% if !(@page <= 0) %>
      <li class="page-item">
        <%= link_to('Previous', events_path(page: @page - 1), :class => 'page-link') %>
      </li>
    <% end %>
    <% for num in 1..(@total_pages)
        if @total_pages != 1%>
      <li class="page-item"><a class="page-link" href="<%= events_path(page: (num - 1))%>"><%= num %></a></li>
      <%end
      end %>
    <% if !(@page >= (@total_pages - 1)) %>
      <li class="page-item">
        <%=  link_to('Next', events_path(page: @page + 1), :class => 'page-link') %>
      </li>
    <% end %>
  </ul>
</nav>
  </div>



</div>
